p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.loading {
  position: relative;
  color: rgba(0, 0, 0, .3);
  font-size: 3.5em;
}
.loading:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 7em;
  white-space: nowrap;
  color: #3498db;
  animation: loading 2.4s linear;
}
@keyframes loading {
  0% {
    max-width: 0;
  }
}
.App {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.Recursive__accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.Recursive__accordion--item {
  width: 100%;
  margin-bottom: 20px;
}

.Recursive__accordion--item-header {
  width: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
  cursor: pointer;
}

.Recursive__accordion--item-header h5 {
  flex: 1;
  margin-left: 16px;
}

.Recursive__accordion--item-header:hover {
  background-color: #fafafa;
}

.delete-button {
  width: 34px;
  height: 34px;
  background-color: #d2d2d2;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button img {
  width: 18px;
}

.Recursive__accordion--item-body {
  width: 100%;  
  display: none;
}

.Recursive__accordion--item-body.show {
  display: block;
}

.Recursive__accordion--item-inner {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  padding: 35px 20px;
  margin-top: -5px;
  box-sizing: border-box;
}

.Recursive__accordion--item-info {
  height: 80px;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 6px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Info__text {
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.Info__text--large {
  font-size: 18px;
}

.Info__text--medium {
  font-size: 16px;
}

.Info__text--small {
  font-size: 14px;
}

.Info__text--icon {
  width: 20px;
  margin-right: 10px;
}

.arrow {
  height: 0px; width: 0px;
  border: 8px solid;
  border-color: 
    #d2d2d2
    #d2d2d2
    transparent
    transparent;
  transform: rotate(45deg);
  transition: transform .2s ease-in-out;
}
.arrow.bottom {
  transform: rotate(135deg);
}

.vertical-line {
  height: calc(100% - 30px);
  width: 4px;
  position: absolute;
  left: -20px;
  background: #f7f7f7;
  border-radius: 10px;
}

.Recursive__accordion--children {
  margin-top: 15px;
  position: relative;
}